CampusLink-integration3/src/main/java/org/example/campusLink/IA/N8n_workflow_3_chatbot.JSON
{
  "name": "CampusLink - Chatbot Assistant (FIXED)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook - Message Utilisateur",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "campuslink-chatbot"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nconst currentMessage = body.message || '';\nconst history        = Array.isArray(body.history) ? body.history : [];\n\n// Construire le tableau messages : system + historique + message actuel\nconst messages = [\n  {\n    role: 'system',\n    content: `Tu es l'assistant virtuel de CampusLink, une plateforme qui connecte étudiants et tuteurs pour des services éducatifs.\\n\\nTon rôle :\\n- Aider les utilisateurs à naviguer sur la plateforme\\n- Répondre aux questions sur le fonctionnement\\n- Donner des conseils pour créer de bonnes publications/services\\n- Être amical, patient et concis\\n\\nRègles de réponse :\\n1. Réponds en 2-4 phrases maximum (sauf si explication technique nécessaire)\\n2. Utilise des emojis pertinents (max 2 par message)\\n3. Si tu ne sais pas, oriente vers le support humain\\n4. Propose des actions concrètes quand possible\\n5. Sois encourageant et positif`\n  },\n  ...history,\n  {\n    role: 'user',\n    content: currentMessage\n  }\n];\n\nconst openRouterBody = {\n  model: 'openai/gpt-3.5-turbo',\n  temperature: 0.7,\n  max_tokens: 300,\n  messages: messages\n};\n\nreturn {\n  json: {\n    openRouterBody: JSON.stringify(openRouterBody),\n    user_id: body.user_id,\n    user_message: currentMessage\n  }\n};"
      },
      "id": "build-request",
      "name": "Construire Requête",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://campuslink.app"
            },
            {
              "name": "X-Title",
              "value": "CampusLink AI Assistant"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.openRouterBody }}",
        "options": {}
      },
      "id": "openrouter-chat",
      "name": "OpenRouter - Réponse Chatbot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const response     = $input.item.json;\nconst botMessage   = response.choices[0].message.content;\nconst prevNode     = $('Construire Requête').item.json;\n\nreturn {\n  json: {\n    response:     botMessage,\n    user_id:      prevNode.user_id,\n    user_message: prevNode.user_message,\n    timestamp:    new Date().toISOString()\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.response, \"timestamp\": $json.timestamp } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-chat",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook - Message Utilisateur": {
      "main": [
        [
          {
            "node": "Construire Requête",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire Requête": {
      "main": [
        [
          {
            "node": "OpenRouter - Réponse Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Réponse Chatbot": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}