src/main/java/org/example/campusLink/IA/N8n_workflow1_publications.JSON
{
  "name": "CampusLink - Créer Publication via Description (OpenRouter)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "creer-publication",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-001",
      "name": "Webhook - Créer Publication",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-900, 200],
      "webhookId": "campuslink-creer-publication"
    },

    {
      "parameters": {
        "jsCode": "// ── Extraire le body ────────────────────────────────────────────────────────\nconst body = $input.item.json.body || $input.item.json;\n\nconst student_id       = body.student_id       || null;\nconst description      = body.prompt || body.message || body.description || body.idee || '';\nconst type_publication = (body.type_publication || body.type || 'DEMANDE_SERVICE').toUpperCase();\nconst localisation     = body.localisation || '';\nconst image_url        = body.image_url    || null;\nconst prix_input       = parseFloat(body.prix_vente || body.budget || 0);\n\n// ── Validation ───────────────────────────────────────────────────────────────\nconst errors = [];\n\nif (!student_id || isNaN(parseInt(student_id))) {\n  errors.push('student_id est requis (entier)');\n}\nif (!description || description.trim().length < 5) {\n  errors.push('description/prompt est requis (minimum 5 caractères)');\n}\n\nconst typesValides = ['OFFRE_SERVICE', 'DEMANDE_SERVICE', 'VENTE_OBJET'];\nif (!typesValides.includes(type_publication)) {\n  errors.push('type_publication invalide. Valeurs : ' + typesValides.join(', '));\n}\n\nif (errors.length > 0) {\n  return { json: { valid: false, errors, message: 'Validation échouée' } };\n}\n\n// ── Label humain ─────────────────────────────────────────────────────────────\nconst typeLabel = {\n  'DEMANDE_SERVICE': \"demande de service (l'étudiant cherche quelqu'un pour l'aider)\",\n  'VENTE_OBJET':     \"vente d'objet (l'étudiant vend quelque chose)\",\n  'OFFRE_SERVICE':   \"offre de service (l'étudiant propose ses compétences)\"\n}[type_publication];\n\n// ── Prompt Claude ────────────────────────────────────────────────────────────\nconst prompt = `Tu es un assistant pour CampusLink, plateforme d'entraide étudiante.\n\nUn étudiant veut créer une publication de type : \"${typeLabel}\".\nLocalisation : \"${localisation || 'Non précisée'}\".\nBudget / Prix indicatif : ${prix_input > 0 ? prix_input + '€' : 'non précisé'}.\n\nVoici sa description en langage naturel :\n\"\"\"${description}\"\"\"\n\nGénère une publication structurée et professionnelle.\nRéponds UNIQUEMENT avec ce JSON brut (sans markdown, sans backticks) :\n{\n  \"titre\": \"[titre clair et accrocheur, 10 à 100 caractères]\",\n  \"message\": \"[description complète, professionnelle et convaincante, 3 à 6 phrases]\",\n  \"prix_vente\": [${prix_input > 0 ? prix_input : 'nombre décimal suggéré selon le contexte, 0 si don'}]\n}\n\nRègles strictes :\n- titre : pas de guillemets, max 100 caractères\n- message : bien rédigé, attirant, adapté au type de publication\n- prix_vente : nombre décimal uniquement (ex: 25.00), jamais de texte\n- Pour DEMANDE_SERVICE : prix = ce que l'étudiant est prêt à payer\n- Pour VENTE_OBJET : prix = prix de vente de l'objet\n- Pour OFFRE_SERVICE : prix = tarif horaire ou forfait proposé\n- Réponds UNIQUEMENT avec le JSON, rien d'autre`;\n\nreturn {\n  json: {\n    valid: true,\n    prompt,\n    meta: {\n      student_id:       parseInt(student_id),\n      type_publication,\n      localisation:     localisation || null,\n      image_url:        image_url    || null,\n      prix_input\n    }\n  }\n};"
      },
      "id": "node-002",
      "name": "Valider & Préparer Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 200]
    },

    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.valid }}", "value2": true }
          ]
        }
      },
      "id": "node-003",
      "name": "Données valides ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-420, 200]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://campuslink.app" },
            { "name": "X-Title",      "value": "CampusLink" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-3.5-sonnet\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.prompt) }}\n    }\n  ],\n  \"temperature\": 0.6,\n  \"max_tokens\": 600\n}",
        "options": { "timeout": 30000 }
      },
      "id": "node-004",
      "name": "OpenRouter - Structurer Publication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 80],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VOTRE_CREDENTIAL_OPENROUTER_ID",
          "name": "OpenRouter API Key"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// ── Extraire le texte brut d'OpenRouter ─────────────────────────────────────\nconst body = $input.item.json;\nlet rawText = '';\n\ntry {\n  rawText = body.choices[0].message.content || '';\n} catch (e) {\n  throw new Error('Réponse OpenRouter invalide : ' + JSON.stringify(body).substring(0, 300));\n}\n\nconsole.log('=== OpenRouter response ===');\nconsole.log(rawText);\nconsole.log('===========================');\n\n// ── Récupérer les métadonnées du nœud précédent ──────────────────────────────\nconst meta = $('Valider & Préparer Prompt').item.json.meta;\n\n// ── Parser le JSON retourné par Claude ───────────────────────────────────────\ntry {\n  let cleaned = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n  const start = cleaned.indexOf('{');\n  const end   = cleaned.lastIndexOf('}');\n\n  if (start === -1 || end === -1) {\n    throw new Error('Aucun JSON dans la réponse : ' + cleaned.substring(0, 100));\n  }\n\n  const parsed = JSON.parse(cleaned.substring(start, end + 1));\n\n  if (!parsed.titre || !parsed.message) {\n    throw new Error('JSON incomplet : titre ou message manquant');\n  }\n\n  // Sanitiser le titre (max 200 chars selon la DB)\n  const titre   = String(parsed.titre).substring(0, 200).trim();\n  const message = String(parsed.message).trim();\n  const prix    = parseFloat(parsed.prix_vente) || meta.prix_input || 0;\n\n  return {\n    json: {\n      ok:               true,\n      student_id:       meta.student_id,\n      type_publication: meta.type_publication,\n      titre,\n      message,\n      prix_vente:       prix,\n      localisation:     meta.localisation || null,\n      image_url:        meta.image_url    || null\n    }\n  };\n\n} catch (e) {\n  console.error('Parse error:', e.message);\n  // Fallback : utiliser la description brute comme message\n  return {\n    json: {\n      ok:               true,\n      student_id:       meta.student_id,\n      type_publication: meta.type_publication,\n      titre:            'Publication étudiante',\n      message:          rawText.substring(0, 500),\n      prix_vente:       meta.prix_input || 0,\n      localisation:     meta.localisation || null,\n      image_url:        meta.image_url    || null\n    }\n  };\n}"
      },
      "id": "node-005",
      "name": "Parser Réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 80]
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO publications\n  (student_id, type_publication, titre, message, prix_vente, localisation, image_url, status, vues, created_at, updated_at)\nVALUES\n  (\n    {{ $json.student_id }},\n    '{{ $json.type_publication }}',\n    '{{ $json.titre.replace(/'/g, \"''\") }}',\n    '{{ $json.message.replace(/'/g, \"''\") }}',\n    {{ $json.prix_vente }},\n    {{ $json.localisation ? ('\\'' + $json.localisation.replace(/'/g, \"''\") + '\\'') : 'NULL' }},\n    {{ $json.image_url    ? ('\\'' + $json.image_url.replace(/'/g, \"''\")    + '\\'') : 'NULL' }},\n    'ACTIVE',\n    0,\n    NOW(),\n    NOW()\n  );\nSELECT LAST_INSERT_ID() AS publication_id;",
        "additionalFields": {}
      },
      "id": "node-006",
      "name": "MySQL - INSERT publications",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [300, 80],
      "credentials": {
        "mySql": {
          "id": "VOTRE_CREDENTIAL_MYSQL_ID",
          "name": "CampusLink MySQL"
        }
      }
    },

    {
      "parameters": {
        "jsCode": "// ── Construire la réponse finale ─────────────────────────────────────────────\nconst db  = $input.item.json;\nconst pub = $('Parser Réponse Claude').item.json;\n\n// MySQL retourne LAST_INSERT_ID() sous cette clé\nconst pubId = db['LAST_INSERT_ID()'] || db.publication_id || db.insertId || null;\n\nconsole.log('Publication insérée, ID =', pubId);\n\nreturn {\n  json: {\n    success:        true,\n    publication_id: pubId,\n    message:        'Publication créée et enregistrée avec succès',\n    publication: {\n      id:               pubId,\n      student_id:       pub.student_id,\n      titre:            pub.titre,\n      message:          pub.message,\n      type_publication: pub.type_publication,\n      prix_vente:       pub.prix_vente,\n      status:           'ACTIVE',\n      localisation:     pub.localisation,\n      image_url:        pub.image_url\n    }\n  }\n};"
      },
      "id": "node-007",
      "name": "Formater Réponse Succès",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 80]
    },

    {
      "parameters": {
        "jsCode": "const data = $input.item.json;\nreturn {\n  json: {\n    success: false,\n    message: data.message || 'Validation échouée',\n    errors:  data.errors  || []\n  }\n};"
      },
      "id": "node-008",
      "name": "Erreur Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-180, 360]
    },

    {
      "parameters": {
        "jsCode": "const err = $input.item.json;\nconst pub = $('Parser Réponse Claude').item.json;\n\nreturn {\n  json: {\n    success: false,\n    message: 'Erreur lors de l\\'insertion en base de données',\n    error:   JSON.stringify(err),\n    publication_generee: {\n      titre:   pub.titre,\n      message: pub.message\n    }\n  }\n};"
      },
      "id": "node-009",
      "name": "Erreur DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "node-010",
      "name": "Respond 201 - Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 80]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "node-011",
      "name": "Respond 400 - Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [60, 360]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "node-012",
      "name": "Respond 500 - Erreur DB",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],

  "connections": {
    "Webhook - Créer Publication": {
      "main": [[{ "node": "Valider & Préparer Prompt", "type": "main", "index": 0 }]]
    },
    "Valider & Préparer Prompt": {
      "main": [[{ "node": "Données valides ?", "type": "main", "index": 0 }]]
    },
    "Données valides ?": {
      "main": [
        [{ "node": "OpenRouter - Structurer Publication", "type": "main", "index": 0 }],
        [{ "node": "Erreur Validation",                   "type": "main", "index": 0 }]
      ]
    },
    "OpenRouter - Structurer Publication": {
      "main": [[{ "node": "Parser Réponse Claude", "type": "main", "index": 0 }]]
    },
    "Parser Réponse Claude": {
      "main": [[{ "node": "MySQL - INSERT publications", "type": "main", "index": 0 }]]
    },
    "MySQL - INSERT publications": {
      "main": [
        [{ "node": "Formater Réponse Succès", "type": "main", "index": 0 }],
        [{ "node": "Erreur DB",               "type": "main", "index": 1 }]
      ]
    },
    "Formater Réponse Succès": {
      "main": [[{ "node": "Respond 201 - Succès", "type": "main", "index": 0 }]]
    },
    "Erreur Validation": {
      "main": [[{ "node": "Respond 400 - Validation", "type": "main", "index": 0 }]]
    },
    "Erreur DB": {
      "main": [[{ "node": "Respond 500 - Erreur DB", "type": "main", "index": 0 }]]
    }
  },

  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "instanceId": "77f5a38eaaa25321d5b6af7115ea89308bd5064badafff416443cd1f5d292fcd"
  },
  "tags": []
}